.container .news .news1 img {
  vertical-align: middle;

  width: 248px;
  height: 265px;
  padding: 2px;
}

.container .news .news2 img {
  vertical-align: middle;

  width: 248px;
  height: 265px;
  padding: 2px;
}

.container .news .news3 img {
  vertical-align: middle;

  width: 248px;
  height: 265px;
  padding: 2px;
}

.container .news .news4 img {
  vertical-align: middle;

  width: 248px;
  height: 265px;
  padding: 2px;
}
